/* *{
    font-size: 10px;
}*/
body{
    /* background: linear-gradient(to right, orange, red); */
    background-image:url("winter.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* * #Heading{
    background-color: gold;
    font-size: 50px;
    color: white;
}
.paragraph{
    background-color:rgb(131, 126, 133);
    font-size: 35px;
    color: cornsilk;
}
#p2{
    background-color:crimson
    font-size: 35px;
    color: white;
} */